	<!-- SlideMenu -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
	<script src="/script.js"></script>
	<link rel="stylesheet" href="/style.css">

<!--SlideMenu-->
<body>
	<header>
		<span class="toggle-button">
        	<div class="menu-bar menu-bar-top"></div>
        	<div class="menu-bar menu-bar-middle"></div>
        	<div class="menu-bar menu-bar-bottom"></div>
        </span>
		<div class="menu-wrap">
			<div class="menu-sidebar">
				<ul class="menu">
					<li class="menu-item-has-children"><a href="/">Home</a>
					<li class="menu-item-has-children"><a href="form">Search</a>
					<li class="menu-item-has-children"><a href="history">History</a>
					<li class="menu-item-has-children"><a href="map">Map</a>
				</li>
				</ul>			
			</div>
		</div>
	</header>
</body>
